.transactionHistory{
    text-align: center;
    width: 480px;
    height: auto;
    margin-top:20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 245, 244);    
}
.transactionHistory:hover,
.transactionHistory:focus {
  box-shadow: 5px 5px 15px 5px rgba(0, 1, 1, 0.4);
}
.head{
    height: 60px;
    color: #fff;

  background-color: darkturquoise;
}
.thHead{
    text-transform: uppercase;
}
tr:nth-child(even){
    background-color: rgb(202, 199, 199);
}
td{
    letter-spacing: 1.4;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: start;
}
